@use "./modals.scss";
@import "./partials.scss";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.2px solid rgb(210, 207, 207);
  border-radius: 20px;
  height: 400px;
  width: 300px;
  margin: 20px;

  &__titleAndAuthorContainer {
    height: 20%;
  }

  &__book-title {
    font-weight: 400;
    font-size: 20px;
    margin: 5px 5px;
  }

  &__book-author {
    font-weight: 200;
    font-size: 15px;
    margin: 5px 5px;
  }

  &__book-image {
    width: auto;
    height: 50%;
    align-items: center;
    margin: 10px;
  }

  &__btnContainer {
    position: absolute;
    top: 83%;
    width: 100%;
    height: 20%;;
    bottom: 0px;
  }

  &__Btn {
    border: 0.2px solid rgb(210, 207, 207);
    border-radius: 7px;
    margin: 0 10px;
    width: 40%;
    height: 40px;
  }

  &__Btn:hover {
    background-color: $blue;
  }

}

.card:hover {
  box-shadow: 1px 1px $blue; //read in W3 lesson about thumb smth
}


