@import "./partials.scss";

.green {
  color: $green;
  text-shadow: 0 0;
}

.blue {
  color: $blue;
  text-shadow: 0 0;
}

.red {
  color: $red;
  text-shadow: 0 0;
}

.yellow {
  color: $yellow;
  text-shadow: 0 0;
}
